# Text files normalized to LF in repo
* text=auto eol=lf

# Binary / not-to-be-normalized
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.ipynb binary
*.zip binary
*.7z binary
*.tar binary
*.gz binary
*.sh text eol=lf
*.txt text eol=lf
*.md  text eol=lf
